<div class="container">
  <div class="row mt-5">
    <div class="offset-md-1 col-md-10">
      <h2 class="color-stefanini">Cadastrar Novo Filme</h2>
    </div>
  </div>
  <div class="row mt-5" *ngIf="loading">
    <div class="col-md-6 text-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="offset-md-1 col-md-10">
      <form #form="ngForm" (ngSubmit)="createFilm(form)">
        <div class="row mt-3">
          <div class="col-md-7">
            <div class="form-group">
              <label for="title">Título</label>
              <input type="text" class="form-control mt-1" id="title" name="title" ngModel required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label for="director">Diretor</label>
              <input type="text" class="form-control mt-1" id="director" name="director" ngModel required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="genre">Gênero</label>
              <select class="form-control mt-1" id="genre" [(ngModel)]="selectedGenreId" [ngModelOptions]="{standalone: true}">
                <option disabled>Selecione um gênero:</option>
                <option *ngFor="let genre of genres" [value]="genre.id">{{genre.description}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="release">Ano de Lançamento</label>
              <input type="number" class="form-control mt-1" id="release" name="release" ngModel>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label for="synopsis">Sinopse</label>
              <textarea type="text" class="form-control mt-1" id="synopsis" name="synopsis" ngModel rows="6"></textarea>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="d-flex">
              <button type="submit" class="btn btn-success" [disabled]="!form.valid || !selectedGenreId">Salvar</button>
              <button routerLink="/" type="button" class="btn btn-danger ml-2">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-alert-modal *ngIf="abrirModal" [message]="modalMessage" (close)="closeModal()"></app-alert-modal>
