<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a routerLink="/" class="navbar-brand">
      <img class="logo" src="../../assets/images/stefanini-logo.png" alt="" />
      <div class="fs-14 pl-5 color-stefanini font-weight-bold">Filmes</div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/cadastrar-filme" class="nav-link btn bg-color-green text-white font-weight-bold">
            <i class="fas fa-plus"></i>
            <span> Novo</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
